# Python-related
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env/
# Ignore the .env file
.env

# Django-specific
db.sqlite3
*.log

# Local IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Python distribution
.eggs/
dist/
build/
*.egg-info/

# Miscellaneous
*.swp
*~
*.bak



# Ignore media folder
media/